@model IEnumerable<NetBeeTicket.Models.Customer>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Customers</h2>
<p>
    @Html.ActionLink("New Customer", "New", "Customer", null, new { @class = "btn btn-primary" })
</p>

